body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

    header img {
        width: 100%;
        height: auto;
    }

h1 {
    margin-top: 20px;
    font-size: 2rem;
}

.oyunlar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Oyun bloklar�n� sol tarafa hizala */
    margin-top: 30px;
}

.oyun {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}

    .oyun img {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: transform 0.2s;
    }

    .oyun p {
        margin-top: 5px;
        font-weight: bold;
    }

    .oyun img:hover {
        transform: scale(1.05);
    }
